<div class="row">
  <div class="col-sm-12">
    <img src="" alt="" class="">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Manage Recipe
      </button>
      <div class="dropdown-menu" style="left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 38px, 0px);"
           x-placement="bottom-start">
        <a class="dropdown-item" href="#">To Shopping List</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    Description
  </div>
</div>
<div class="row">
  <div class="col-sm">
    Ingredients
  </div>
</div>
